.card {
    border: #e4e4e4;
    border-radius: 0px;
    box-shadow: 0 1px 6px 0 #cacaca;

    &.collapsing {
        height: 50px !important;
    }

    &.collapse {
        height: 50px !important;
        overflow: hidden;

        &.show {
            height: unset !important;
        }
    }

    .card-header {
        background-color: unset !important;
        border-bottom: unset !important;
        font-weight: 700;
        font-size: 18px;

        .card-option {
            float: left;

            div {
                display: inline-block;
                cursor: pointer;

                &:hover {
                    color: #d52121;
                }

                i {
                    font-weight: normal;
                }
            }

            .card-Remove {
                margin-left: 5px;
            }

            .card-arrow-down {
            }
        }
    }

    .card-body {
        overflow: hidden;
        display: inline-block;
    }
}
