a:hover {
    color: #d52121;
}

.dir-ltr {
    direction: ltr;
}

.disabled {
    pointer-events: none;
    background-color: #e8e8e8;
    cursor: not-allowed;
}

.nice-select {
    padding-right: 18px !important;
    padding-left: 30px !important;

    &:after {
        right: unset !important;
        left: 12px;
    }

    .list {
        right: 0px;
        left: auto;

        .option {
            text-align: right;
            padding-right: 18px !important;
            padding-left: 29px !important;
        }
    }
}

err500 {
    width: 100%;
    display: inline-block;
    padding: 15px;
    background-color: #dc0000;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #cb0000;
}

.loading {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1000;

    img {
        position: absolute;
        left: calc(50% - 100px);
        top: calc(50vh - 100px);
    }
}

.timer {
    direction: ltr;
    text-align: right;

    div {
        display: inline-block;
    }
}

.resendbtn {
    display: none;
}

.lang-flag {
    width: 24px;
    position: relative;
    top: 6px;
}

.modal-footer > :not(:first-child) {
    margin-right: .25rem !important;
}

.modal-footer > :not(:last-child) {
    margin-left: .25rem !important;
}

.dropdown-item {
    text-align: right !important;
}


.img-circle {
    border-radius: 50%;
}

.fs-16px {
    font-size: 16px;
}

.fs-14px {
    font-size: 14px;
}

.fs-12px {
    font-size: 12px;
}

.CompoSectionHeader {
    padding: 0px 0px 20px 0;

    div {
        display: inline-block;
    }

    .Header {
        float: right;
    }

    .BtnAdd {
        float: left;
    }
}


.thBtnAdd {
    text-align: left;
    direction: ltr;
}

.form-btn {
    text-align: left;
    direction: ltr;
}

.page-item:first-child .page-link {
    margin-right: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.editor {
    min-height: 400px;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    margin-right: 35px;

    ul {
        padding-right: 15px;
    }
}

.ck.ck-block-toolbar-button {
    transform: translateX(calc(var(--ck-spacing-large)*.5)) !important;
    color: #9a9a9a !important;
}

.text-left {
    text-align: left;
    direction: ltr;
}

.text-left {
    text-align: right;
    direction: rtl;
}

.text-paragraph {
    font-size: 12px;
    line-height: 1.7;
    color: #232323;
}

.text-heading2 {
    font-size: 18px;
    color: #161616;
    font-weight: 700;
}

.text-heading3 {
    font-size: 15px;
    color: #232323;
}

form {
    .frmBtnAction {
        text-align: left;
    }
}


.TitleCell {
    .title {
        font-size: 16px !important;
        font-weight: 600 !important;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        margin-bottom: 2px;
    }

    .Category {
        margin-bottom: 5px;

        span {
            font-weight: 700;
        }
    }

    .date {
        margin-bottom: 5px;
        direction: ltr;
    }

    .Summery {
        div {
            margin-left: 10px;
        }
    }
}

.hide {
    display: none !important;
}

.form-labael {
    font-weight: 700;
    font-size: 15px;
}

.dropdown-icon {
    color: #6987ab;
    margin-left: 0.5rem;
    margin-right: -0.5rem;
    width: 1em;
    display: inline-block;
    text-align: center;
    vertical-align: -1px;
    font-size: 16px;
    font-weight: 600 !important;
}

.header_account_list > a span.cart_itemtotal {
    font-size: 16px;
    font-weight: 400;
}

.swal2-actions {
    direction: initial;
}

.swal2-styled.swal2-confirm {
    background-color: rgb(12, 172, 37) !important;
}

.swal2-styled.swal2-cancel {
    background-color: rgb(225, 40, 75) !important;
}

.dropdown-menu {
    font-size: 14px;
}

.fw-700 {
    font-weight: 700;
}

@media (min-width: 576px) {
    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem);
    }
}

.modal-dialog-scrollable {
    display: -ms-flexbox;
    display: flex;
    max-height: calc(100% - 2rem);
}

@media (min-width: 576px) {
    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 3.5rem);
    }
}

.modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 2rem);
    overflow: hidden;
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}

.modal-dialog-scrollable .modal-footer, .modal-dialog-scrollable .modal-header {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

pre {
    display: block;
    font-size: 14px;
    color: #212529;
    font-family: inherit;
    white-space: pre-wrap;
}

.fa.fa-star {
    font-weight: 900;
}


.btnLoginArea {
    padding: 15px;
    text-align: center;
    border: 1px solid #ff3d3d;
    color: #ff3d3d;
    border-radius: 5px;
    width: 100%;
}


.Showcase {
    padding: 100px 0;

    .product_tab_btn {
        margin-bottom: 15px;
    }

    .freeItem {
        margin-bottom: 30px;

        &.FreeItem3 {
            .banner_text {
                margin-top: 0px !important;
                margin-bottom: 15px !important;
            }
        }

        &.FreeItem4, &.FreeItem5 {
            display: flex;

            .testimonial_thumb {
                width: 30%;

                img {
                    width: inherit;
                    display: block;
                }
            }

            .testimonial_content {
                width: 70%;
                overflow-x: hidden;

                h3 {
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 600;
                    text-transform: capitalize;
                    margin-bottom: 5px;
                }
            }
        }

        &.FreeItem6, &.FreeItem7 {
            display: flex;

            .testimonial_thumb {
                width: 60%;

                img {
                    width: inherit;
                    display: block;
                }
            }

            .testimonial_content {
                width: 40%;
                overflow-x: hidden;

                h3 {
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 600;
                    text-transform: capitalize;
                    margin-bottom: 5px;
                }
            }
        }

        &.FreeItem8, &.FreeItem9 {
            display: flex;

            .testimonial_thumb {
                width: 50%;

                img {
                    width: inherit;
                    display: block;
                }
            }

            .testimonial_content {
                width: 50%;
                overflow-x: hidden;

                h3 {
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 600;
                    text-transform: capitalize;
                    margin-bottom: 5px;
                }
            }
        }

        .banner_text {
            h3 {
                font-size: 20px;
                font-weight: 500;
            }

            margin-top: 15px !important;
        }

        .banner_thumb {
            a {
                img {
                    width: 100%;
                }
            }
        }
    }

    .ProductItem {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .FreeItem4, .FreeItem5, .FreeItem6, .FreeItem7, .FreeItem8, .FreeItem9 {
        flex-direction: column;
        text-align: center;

        .testimonial_thumb {
            width: 100% !important;

            img {
                width: 100% !important;
            }
        }

        .testimonial_content {
            width: 100% !important;
        }
    }
}

.owl-carousel {
    .ProductItem {
        margin-bottom: 0 !important;
    }

    .owl-nav {
        div {
            position: absolute;
            top: 45%;

            i {
                font-size: 70px;
                font-weight: 400;
            }

            &.disabled {
                background-color: unset !important;
                cursor: not-allowed !important;
                color: #b4b4b4;
                pointer-events: unset !important;
            }
        }

        .owl-prev {
            left: -10px;
        }

        .owl-next {
            right: -10px;
        }
    }
}


.price_box {
    span {
        &.old_price {
            font-weight: 600;
            font-size: 14px;
            text-decoration: line-through #a3a3a3
        }
    }
}

.add_to_cart {
    a {
        font-size: 14px;

        i {
            position: absolute;
            right: 0px;
            top: 4px;
        }

        span {
            padding-right: 15px;
        }
    }
}

.tab-content {
    .CounterDown {
        text-align: center;
        margin-top: 40px;
        font-weight: 300;
        font-size: 150%;

        div {
            display: inline-block;
            padding: 0 5px;

            &.Spreator {
                position: relative;
                top: -15px;
                font-weight: 700;
            }

            span {
                display: block;
                padding: 10px 0;
            }
        }
    }
}

.widget_inner {
    &:last-child {
        .widget_list {
            margin-bottom: 0;
        }
    }

    .widget_list {

        &:last-child {
            margin-bottom: 33px;
        }

        &.widget_filter-keyword {
            position: relative;
            overflow: visible;

            form {
                input {
                    margin-bottom: 15px;
                }

                button {
                    height: 30px;
                    line-height: 30px;
                    padding: 0 20px;
                    text-transform: capitalize;
                    color: #fff;
                    background: #333;
                    border: 0;
                    border-radius: 30px;
                    float: right;
                    -webkit-transition: .3s;
                    transition: .3s;
                }

                button:hover {
                    background: #d52121;
                }
            }
        }
    }
}

.grid_list {
    .product_content {
        &.list_content {
            .product_desc {
                p {
                    max-width: unset !important;
                }
            }
        }
    }
}


.SearchAutoComplete {
    display: none;
    height: 300px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    box-shadow: 0 1px 1px rgb(0 0 0 / 14%), 0 4px 4px rgb(0 0 0 / 10%);
    padding: 5px;
    position: absolute;
    z-index: 1000;
    overflow-y: auto;

    .Products {
        .Item {
            direction: rtl;
            display: flex;
            border: 1px solid #ddd;
            padding: 3px;
            border-radius: 5px;

            .Image {
                display: inline-block;
                width: 30%;
            }

            .Title {
                display: inline-block;
                width: 65%;
            }
        }
    }

    .Words {
        margin-top: 20px;

        h3 {
            margin-bottom: 0px;
            border: unset;
        }

        .Item {
            display: inline-block;
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 20px;
            margin-bottom: 3px;
        }
    }

    .owl-nav {
        div {
            top: 15px;

            i {
                font-size: 20px;
            }
        }

        .owl-prev {
            left: 0px;
        }

        .owl-next {
            right: 0px;
        }
    }
}
