@page "/{culture}/Shared/Compo/ComboUsers"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Combo_Users.Compo_Combo_UsersModel
@{
    string FieldName = Model.Input.FieldName;
    string FieldId = FieldName.Replace(".", "_").Replace("[", "_").Replace("]", "_");
    string FieldTitle = Localizer[FieldName.Split('.').Last()];
}

<script>
    function Filter_@(FieldId)()
    {
        var ItemCombo = $('#@(FieldId)').data("kendoComboBox");
        return { Text: ItemCombo.text() };
    }
</script>

<label for="@FieldId">@FieldTitle</label>
<div class="k-lang">
    @(Html.Kendo()
          .ComboBox()
          .Name(FieldName)
          .HtmlAttributes(new { @class= "form-control",style="width:100%;height:35px;" })
          .Placeholder(Localizer["PleseSelect"])
          .DataTextField("FullName")
          .DataValueField("Id")
          .Filter(FilterType.Contains)
          .MinLength(2)
          .Value(Model.Input.UserId)
          .DataSource(sr => {
              sr.Read(read =>
              {
                  read.Url($"/{ViewData["culture"]}/Shared/Compo/ComboUsers?handler=Read&_LangId={Model.Input.LangId}").Data($"Filter_{FieldId}");
              }).ServerFiltering(true);
          }).Template("<div class='d-inline'><img src='#=ImgUrl#'/></div><div class='d-inline ml-2 mr-2'>#=FullName#</div>"))
</div>