@page "/{culture}/Search/Compo/KeywordSearch"
@model PrancaBeauty.WebApp.Pages.Home.Search.Components.Compo_Keyword.Compo_KeywordSearchModel

<div class="widget_list widget_filter-keyword">
    <h3>@Localizer["Search"]</h3>
    <input autocomplete="off" id="InpKeywordTitle" onkeypress="SubmitAutoComplete(event)" onfocus="AutoComplete()" form="frmSearch" asp-for="Input.KeywordTitle" class=form-control placeholder="@Localizer["Keyword"]" />
    <div tabindex="1" onblur="$('.SearchAutoComplete').slideUp(500);" class="SearchAutoComplete">
    </div>
    <script>
        var _Text="";
        function SubmitAutoComplete(e)
        {
            if(e.keyCode == 13 || e.which == '13'){
                e.preventDefault();
                AutoComplete();
            }
        }

        function AutoComplete()
        {
            if(_Text != $('#InpKeywordTitle').val())
            {
                _Text= $('#InpKeywordTitle').val();
                LoadComponent('/@ViewData["culture"]/Search/Compo/KeywordSearchAutoComplete',{KeywordTitle:_Text, CategoryTitle: '@Model.Input.CategoryTitle' },function(res){
                    $('.SearchAutoComplete').html(res);
                    $('.SearchAutoComplete').slideDown(500);
                },false);
            }else
            {
               if($('.SearchAutoComplete').css('display','none'))
               {
                    $('.SearchAutoComplete').slideDown(500);
               }
            }
        }
    </script>
</div>