@page "/{culture}/Search/Compo/KeywordSearchAutoComplete"
@model PrancaBeauty.WebApp.Pages.Home.Search.Components.Compo_Keyword.Compo_KeywordSearchAutoCompleteModel

<div class="">
    <h3>@Model.Input.KeywordTitle</h3>
</div>