@page "/{culture}/User/Index"
@model PrancaBeauty.WebApp.Pages.User.IndexModel
@{
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

@section breadcrumbs{ 
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>My account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

Index Page