@page
@model PrancaBeauty.WebApp.Pages.Home.RobotIndexModel

<!DOCTYPE html>
<html>
<head>
    <title>PrancaBeauty</title>
    <meta name="robots" content="noindex" />
</head>
<body>
    <h2><a href="/fa" title="فروشگاه لوازم ارایشی پرنسا بیوتی">فروشگاه لوازم ارایشی پرنسا بیوتی</a></h2>
    <h2><a href="/en" title="Pranca Beauty Cosmetics Store">Pranca Beauty Cosmetics Store</a></h2>
</body>
</html>
