/*-----------------------------------------------------------------------------------

    CSS INDEX
    =========================================
    01. header css here
    02. slider area css here
    03. product section css here
    04. banner section css here 
    05. blog area css here
    06. newsletter area css here
    07. footer area css here
    08. shop page css here
    09. error page css heer 
    10. about page css here
    11. blog page css here 
    12. blog details css here
    13. cart page css here
    14. checkout page css here
    15. contact page css here
    16. faq page css here
    17. login page css here
    18. my account css here
    19. portfolio page css here
    20. services page css here
    21. shipping css here
    22. wishlist css here
    23. newsletter popup css here
    24. modal css here
-----------------------------------------------------------------------------------*/

@import 'variabls';
@import 'mixin';
@import 'common';
@import 'element/button';
@import 'section/bootstrap';
@import 'section/fonts';
@import 'section/header';
@import 'section/slider';
@import 'section/banner';
@import 'section/product';
@import 'section/blog';
@import 'section/newsletter';
@import 'section/shipping';
@import 'section/testimonial';
@import 'section/brand';
@import 'section/footer';
@import 'section/shop';
@import 'section/product-details';
@import 'section/cart-page';
@import 'section/checkout';
@import 'section/wishlist';
@import 'section/contact';
@import 'section/login';
@import 'section/faq';
@import 'section/my-account';
@import 'section/about';
@import 'section/services';
@import 'section/blog-page';
@import 'section/blog-details';
@import 'section/quick-view';
@import 'section/newsletter-popup';
@import 'section/404';
@import 'section/privacy-policy';
@import 'section/card';

.dir-ltr {
    direction: ltr;
}

.nice-select {
    padding-right: 18px !important;
    padding-left: 30px !important;

    &:after {
        right: unset !important;
        left: 12px;
    }

    .list {
        right: 0px;
        left: auto;

        .option {
            text-align: right;
            padding-right: 18px !important;
            padding-left: 29px !important;
        }
    }
}

err500 {
    width: 100%;
    display: inline-block;
    padding: 15px;
    background-color: #dc0000;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #cb0000;
}

.loading {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1000;

    img {
        position: absolute;
        left: calc(50% - 100px);
        top: calc(50vh - 100px);
    }
}

.timer {
    direction: ltr;
    text-align: right;

    div {
        display: inline-block;
    }
}

.resendbtn {
    display: none;
}

.lang-flag {
    width: 24px;
    position: relative;
    top: 6px;
}

.modal-footer > :not(:first-child) {
    margin-right: .25rem !important;
}

.modal-footer > :not(:last-child) {
    margin-left: .25rem !important;
}

.dropdown-item {
    text-align: right !important;
}


.img-circle {
    border-radius: 50%;
}

.fs-16px {
    font-size: 16px;
}

.fs-14px {
    font-size: 14px;
}

.fs-12px {
    font-size: 12px;
}

.CompoSectionHeader {
    padding: 0px 0px 20px 0;

    div {
        display: inline-block;
    }

    .Header {
        float: right;
    }

    .BtnAdd {
        float: left;
    }
}


.thBtnAdd {
    text-align: left;
    direction: ltr;
}

.form-btn {
    text-align: left;
}
