@page "/{culture}/Shared/Compo/ProductVariantItem"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_ProductVariantItems.Compo_ProductVariantItemModel

@if (Model.Data.VariantType=="RadioButton")
{
    <div class="product_variant color">
        <label>@Model.Data.Title</label>
        <ul>
            @foreach (var item in Model.Data.LstItems)
            {
                <li id="item@(item.Value)" class="@(Model.Data.DefaultVariantValue==item.Value?"active":"")" title="@item.Title" style="background-color:@item.Value" onclick="LoadDetails('@item.Value')"></li>
            }
        </ul>
    </div>
}
