@page "/{culture}/Shared/Compo/ProductSellers"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_ProductSeller.Compo_ProductSellersModel

<section class="product_area related_products mb-57">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title psec_title">
                    <h3>@Localizer["Sellers"]</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=col-md-12>
                <div class=seller-item>

                </div>
            </div>
        </div>
    </div>
</section>