@page "/{culture}/Shared/Compo/ComboModalFileUploader"
@model PrancaBeauty.WebApp.Pages.Shared.Components.CompoFileManager.CompoModalFileManager.Components.Compo_ModalFileUploaderModel
@inject PrancaBeauty.Application.Apps.FileTypes.IFileTypeApplication _FileTypeApplication

@{
    string FieldName = Model.Input.FieldName;
    string FieldId = FieldName.Replace(".", "_").Replace("[", "_").Replace("]", "_");
    string FieldTitle = Localizer[FieldName.Split('.').Last()];
}

<script>
    function OnComplete@(FieldId)(e) {
        RefreshFileList@(FieldId)(1);
    }

    function OnError@(FieldId)(e) {
        console.log(e);
        $('[data-uid=' + e.files[0].uid + '] .k-file-validation-message').text(e.XMLHttpRequest.responseText);
    }
</script>

<div class="k-lang">
    @(Html.Kendo().Upload()
                  .Name("Input.Files")
                  .Messages(a=> {
                      a.Cancel(Localizer["Cancel"]);
                      a.Select(Localizer["Select"]);
                      a.ClearSelectedFiles(Localizer["ClearSelectedFiles"]);
                      a.DropFilesHere(Localizer["DropFilesHere"]);
                      a.UploadSelectedFiles(Localizer["UploadSelectedFiles"]);
                      a.UploadFail(Localizer["UploadFail"]);
                      a.UploadSuccess(Localizer["UploadSuccess"]);
                      a.StatusFailed(Localizer["StatusFailed"]);
                      a.HeaderStatusPaused(Localizer["HeaderStatusPaused"]);
                      a.HeaderStatusUploaded(Localizer["HeaderStatusUploaded"]);
                      a.HeaderStatusUploading(Localizer["HeaderStatusUploading"]);
                      a.InvalidFileExtension(Localizer["InvalidFileExtension"]);
                      a.InvalidMaxFileSize(Localizer["InvalidMaxFileSize"]);
                      a.InvalidMinFileSize(Localizer["InvalidMinFileSize"]);
                  })
                  .Events(e=>e.Complete("OnComplete"+FieldId)
                              .Error("OnError"+FieldId))
                  .Validation(async validation=> validation.AllowedExtensions(await _FileTypeApplication.GetAllFileExtentionAsync()))
                  .Async(a=> a.Batch(false).SaveUrl($"/{ViewData["culture"]}/Shared/Compo/ComboModalFileUploader?Input.UserId={Model.Input.UserId}")
                              .AutoUpload(false)))
</div>