@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir.woff2') format('woff2'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Bold.woff2') format('woff2'), url('../fonts/Vazir-Bold.woff') format('woff'), url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Light.eot');
    src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Light.woff2') format('woff2'), url('../fonts/Vazir-Light.woff') format('woff'), url('../fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Medium.woff2') format('woff2'), url('../fonts/Vazir-Medium.woff') format('woff'), url('../fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Thin.eot');
    src: url('../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Thin.woff2') format('woff2'), url('../fonts/Vazir-Thin.woff') format('woff'), url('../fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Black.eot');
    src: url('../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Black.woff2') format('woff2'), url('../fonts/Vazir-Black.woff') format('woff'), url('../fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}

/*---------------------------------- End of fonts ---------------------------------- */

body {
    font-family: 'Vazir', sans-serif !important;
    text-align: right;
}

.ltr {
    direction: ltr;
}


ul {
    padding-inline-start: 0px;
}

.dropdown-item {
    text-align: right;
}

.dropdown-footer, .dropdown-header {
    text-align: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    padding-left: .5rem;
}


/*------------------------------------ contacts-list ------------------------------------*/

.contacts-list-img {
    float: right;
}

.contacts-list-info {
    margin-right: 45px;
    margin-left: 0;
}


/* sidebar */

.sidebar {
    direction: ltr;
}

    .sidebar > div:first-child {
        direction: rtl;
    }

.control-sidebar, .control-sidebar:before {
    left: -250px;
    right: auto;
    transition: left .3s ease-in-out;
}

.control-sidebar-slide-open .control-sidebar, .control-sidebar-slide-open .control-sidebar:before {
    left: 0;
    right: auto;
}

.small-box .icon {
    right: auto;
    left: 10px;
}

.nav-sidebar .nav-link > p > .right {
    left: 1rem;
    right: auto;
}

.nav-sidebar > .nav-item .nav-icon {
    margin-right: 0;
    margin-left: .2rem;
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem;
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-left: 0rem !important;
        margin-right: 4.6rem !important;
        z-index: 100;
    }

    .sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar:before {
        margin-right: 0;
        width: 4.6rem;
    }
}


@media (min-width: 768px) {
    .content-wrapper, .main-footer, .main-header {
        transition: margin-right .3s ease-in-out;
        margin-right: 250px;
        margin-left: 0;
        z-index: 1000;
    }
}

@media (max-width: 991.98px) {
    .main-sidebar, .main-sidebar:before {
        box-shadow: none !important;
        margin-right: -250px;
        margin-left: 0;
    }

    .content-wrapper, .content-wrapper:before, .main-footer, .main-footer:before, .main-header, .main-header:before {
        margin-right: 0;
    }

    .sidebar-open .main-sidebar, .sidebar-open .main-sidebar:before {
        margin-right: 0;
        z-index: 4000;
    }
}

.sidebar-collapse .main-sidebar, .sidebar-collapse .main-sidebar:before {
    margin-right: -250px;
}

.main-sidebar {
    left: auto;
    right: 0;
    z-index: 1000;
}

/* Cards */

.card-header > .card-tools {
    right: auto;
    left: 1rem;
}

.user-block img {
    float: right;
}

.attachment-block .attachment-img {
    float: right;
}

.attachment-block .attachment-pushed {
    margin-left: 0px;
    margin-right: 110px;
}

.card-comments .card-comment img, .img-lg, .img-md, .img-sm, .user-block.user-block-sm img {
    float: right;
}

.card-comments .comment-text {
    margin-right: 40px;
    margin-left: 0;
}

.card-comments .card-comment img + .img-push, .img-sm + .img-push, .user-block.user-block-sm img + .img-push {
    margin-left: 0px;
    margin-right: 40px;
}

.user-block .comment, .user-block .description, .user-block .username {
    margin-right: 50px;
    margin-left: 0px;
}

.btn-group-vertical {
    align-items: center;
}


/*------------------------- Form ----------------------------*/
.select2-container .select2-search--inline {
    float: right;
}

.select2-container--default .select2-search--inline .select2-search__field {
    text-align: right;
}

/*----------------------- Extra Page ---------------------------*/
.error-page > .headline {
    float: right;
}

.error-page > .error-content {
    margin-right: 190px;
    margin-left: 0;
}

.lockscreen-image {
    left: auto;
    right: -10px;
}

.lockscreen-credentials {
    margin-left: 0px;
    margin-right: 70px;
}

.nav {
    padding-inline-start: 0px !important;
}

/*---------------------------------- Persian Date Picker ---------------------------------- */

.datepicker-plot-area {
    font-family: 'Vazir', sans-serif;
}

.text-left {
    direction: ltr;
    text-align: left;
}

a:not([href]) {
    cursor: pointer;
}

.loading {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.35);
    z-index: 1000;
}

    .loading img {
        position: absolute;
        left: calc(50% - 100px);
        top: calc(50vh - 100px);
    }

.FotnIconCategory {
    text-align: center;
    display: block;
}

    .FotnIconCategory:before {
        content: attr(fontIcon);
    }

.form-control {
    height: 44px;
    width: 100% !important;
}

textarea.form-control {
    height: auto;
}

.k-dropdown-wrap {
    height: 44px;
}

    .k-dropdown-wrap .k-input {
        position: relative;
        top: 5px !important;
    }

    .k-dropdown-wrap .k-select .k-icon {
        top: 5px;
    }

.content-header .breadcrumb {
    float: left;
}

@media (max-width: 576px) {
    .content-header .breadcrumb {
        float: right;
    }
}


.DataGridSorting span:nth-child(1) {
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background-color: #00b214;
    color: white;
    border-radius: 5px;
}

.DataGridSorting span:nth-child(2) {
    display: inline-block;
    margin: 0px 5px;
}

.DataGridSorting span:nth-child(3) {
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background-color: #d80f0f;
    color: white;
    border-radius: 5px;
}

.table thead th {
    border-bottom: 2px solid #dee2e6;
}

.HeaderDrp {
}

    .HeaderDrp ul li {
        padding: 5px;
        text-align: right;
    }

.minicolors .minicolors-grid {
    right: 1px !important;
}

.minicolors-slider,
.minicolors-opacity-slider {
    right: 152px !important;
}

.minicolors-opacity-slider {
    right: 173px !important;
}

.minicolors-swatches,
.minicolors-swatches li {
    margin: 5px 5px 3px 0 !important;
}

    .minicolors-swatches .minicolors-swatch {
        float: right !important;
        margin: 0 0 0 4px !important;
    }

.minicolors-with-opacity .minicolors-swatches .minicolors-swatch {
    margin-right: 0 !important;
    margin-left: 7px !important;
}

.minicolors-theme-bootstrap .minicolors-swatch {
    right: 3px !important;
}

.minicolors-theme-default.minicolors-position-left .minicolors-input {
    padding-right: inherit !important;
    padding-left: 26px !important;
}

.minicolors-theme-default .minicolors-input {
    text-align: right !important;
    unicode-bidi: plaintext !important;
    padding-left: 1px !important;
    padding-right: 35px !important;
}

.minicolors-theme-default.minicolors-position-left .minicolors-swatch {
    right: auto !important;
    left: 5px !important;
}

.minicolors-theme-default .minicolors-swatches .minicolors-swatch {
    right: 0 !important;
}

.minicolors-theme-default .minicolors-swatch {
    right: 5px !important;
}

.minicolors-inline .minicolors-panel {
    right: auto !important;
}

.minicolors-theme-bootstrap .minicolors-input.input-lg + .minicolors-swatch {
    right: 4px !important;
}

.minicolors-theme-bootstrap.minicolors-position-left .minicolors-input {
    padding-right: 12px !important;
    padding-left: 44px !important;
}

.minicolors-theme-bootstrap .minicolors-input {
    text-align: right !important;
    unicode-bidi: plaintext !important;
    padding-left: 12px !important;
    padding-right: 44px !important;
}

.minicolors-theme-bootstrap.minicolors-position-left > .minicolors-swatch {
    right: auto !important;
    left: 3px !important;
}

.minicolors-theme-bootstrap .minicolors-swatches .minicolors-swatch {
    right: 0 !important;
}

.minicolors-theme-semanticui .minicolors-swatch {
    right: 0 !important;
}

.input-group .minicolors-theme-bootstrap .minicolors-input {
    border-radius: 4px !important;
}

.input-group .minicolors-theme-bootstrap:not(:first-child) .minicolors-input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group .minicolors-theme-bootstrap:not(:last-child) .minicolors-input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
/* bootstrap input-group rtl override */
.input-group .form-control,
.input-group-addon,
.input-group-btn > .btn,
.input-group-btn > .btn-group > .btn,
.input-group-btn > .dropdown-toggle {
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

    .input-group .form-control:first-child,
    .input-group-addon:first-child,
    .input-group-btn:first-child > .btn,
    .input-group-btn:first-child > .btn-group > .btn,
    .input-group-btn:first-child > .dropdown-toggle,
    .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
    .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left: 0 !important;
    }

        .input-group .form-control:last-child,
        .input-group-addon:last-child,
        .input-group-btn:last-child > .btn,
        .input-group-btn:last-child > .btn-group > .btn,
        .input-group-btn:last-child > .dropdown-toggle,
        .input-group-btn:first-child > .btn:not(:first-child),
        .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
