@page "/{culture}/Shared/Compo/ComboBillAddress"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_BillAddress.Compo_BillAddressModel

<div class="row">
    <div class="col-md-12 address">
        <div class="Title">
            <input type="radio" />
            <span>محمدرضا احمدی</span>

        </div>
        <div class="addr">
            <span>اذربایجان غربی</span>
            <span>شهرستان مهاباد</span>
            <span> - محله</span>
            <span> - پلاک</span>
            <span> - واحد</span>
            <span> - ادرس</span>
            <span> - کد پستی: 12345-52211</span>
            <span> - موبایل: 09010112829</span>
        </div>
    </div>
    <div class="col-md-12 address">
        <div class="Title">
            <input type="radio" />
            <span>محمدرضا احمدی</span>

        </div>
        <div class="addr">
            <span>اذربایجان غربی</span>
            <span>شهرستان مهاباد</span>
            <span> - محله</span>
            <span> - پلاک</span>
            <span> - واحد</span>
            <span> - ادرس</span>
            <span> - کد پستی: 12345-52211</span>
            <span> - موبایل: 09010112829</span>
        </div>
    </div>
</div>