@page "/{culture}/Search/Compo/PropertisSearch"
@model PrancaBeauty.WebApp.Pages.Home.Search.Components.Compo_Propertis.Compo_PropertisSearchModel
@{
    if (Model.Input.SelectedValues==null)
        Model.Input.SelectedValues = "";
}

@foreach (var item in Model.Data)
{
    <div class="widget_list widget_color">
        <h3>@item.Title</h3>
        <ul>
            @foreach (var itemValue in item.ValueItems)
            {
                <li>
                    <input onchange="SubmitSearch()" form="frmSearch" name="Input.PropSelectedValues" @(Model.Input.SelectedValues.Contains(itemValue.Title)?"checked":"") type="checkbox" value="@itemValue.Title" /> <span>@itemValue.Title</span>
                </li>
            }
        </ul>
    </div>
}