@page "/{culture}/Search/{CategoryName}"
@model PrancaBeauty.WebApp.Pages.Home.Search.SearchModel
@{
    ViewData["Title"]= "جستوجو";
    ViewData["Descreption"]= "توضیحات صفحه ی جستوجو";
    ViewData["canonical"]= null;

    Layout = "~/Pages/Shared/_MainLayout.cshtml";
}

<!--breadcrumbs area start-->
<partial name="~/Pages/Shared/Partials/P_breadcrumbs.cshtml" model='new List<viBreadcrumbs>{
        new viBreadcrumbs{ Title=Localizer["Home"], Url=$"/{ViewData["Culture"]}"},
        new viBreadcrumbs{ Title=Model.Input.CategoryName, Url=$"/{ViewData["Culture"]}/Search/{Model.Input.CategoryName}"},
        new viBreadcrumbs{ Title=ViewData["Title"].ToString()} }' />
<!--breadcrumbs area end-->
<!--shop  area start-->
<div class="shop_area mb-60">
    <div class="container">
        <div class="row rowLng">
            <div class="col-lg-9 col-md-12 colLng">
                <LoadComponent id="ProductList"
                               context="HttpContext"
                               url="/@ViewData["culture"]/Search/Compo/ProductList"
                               data="new viCompoSearch_ProductList { CategoryName=Model.Input.CategoryName,KeywordTitle=Model.Input.KeywordTitle,CurrentPage=1,MinPrice=0,MaxPrice=10000000,Sort=Framework.Application.Enums.GetProductListForAdvanceSearchSortingEnum.Newest,Take=2 }"></LoadComponent>

                <form id="frmSearch">
                    <input asp-for="Input.CategoryName" type="hidden" />
                    <input asp-for="Input.CurrentPage" type="hidden" />
                </form>
                <script>
                    function SubmitSearch()
                    {
                        SendFormGET('/@ViewData["culture"]/Search/Compo/ProductList','frmSearch',function(res){
                            $('#ProductList').html(res);
                        });
                    }
                </script>
            </div>
            <div class="col-lg-3 col-md-12 colLng">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_inner">
                        <div id="KeywordSearch"></div>
                        <script>
                            $(document).ready(function(){
                                LoadComponent('/@ViewData["culture"]/Search/Compo/KeywordSearch',{
                                       KeywordTitle: '@(Model.Input.KeywordTitle)',
                                       CategoryTitle: '@(Model.Input.CategoryName)'
                                    },function(res){
                                       $('#KeywordSearch').html(res);
                                 },false);
                            });
                        </script>
                        <div class="widget_list tags_widget">
                            <div>
                                <span><input class="" type="checkbox" /></span>
                                <span>فقط کالاهای موجود</span>
                            </div>

                            <div>
                                <span><input class="" type="checkbox" /></span>
                                <span>فقط کالاهای موجود</span>
                            </div>
                        </div>

                        <div class="widget_list widget_categories">
                            <h3>Women</h3>
                            <ul>
                                <li class="widget_sub_categories sub_categories1">
                                    <a href="javascript:void(0)">Shoes</a>
                                    <ul class="widget_dropdown_categories dropdown_categories1">
                                        <li><a href="#">Document</a></li>
                                        <li><a href="#">Dropcap</a></li>
                                        <li><a href="#">Dummy Image</a></li>
                                        <li><a href="#">Dummy Text</a></li>
                                        <li><a href="#">Fancy Text</a></li>
                                    </ul>
                                </li>
                                <li class="widget_sub_categories sub_categories2">
                                    <a href="javascript:void(0)">Bags</a>
                                    <ul class="widget_dropdown_categories dropdown_categories2">
                                        <li><a href="#">Flickr</a></li>
                                        <li><a href="#">Flip Box</a></li>
                                        <li><a href="#">Cocktail</a></li>
                                        <li><a href="#">Frame</a></li>
                                        <li><a href="#">Flickrq</a></li>
                                    </ul>
                                </li>
                                <li class="widget_sub_categories sub_categories3">
                                    <a href="javascript:void(0)">Clothing</a>
                                    <ul class="widget_dropdown_categories dropdown_categories3">
                                        <li><a href="#">Platform Beds</a></li>
                                        <li><a href="#">Storage Beds</a></li>
                                        <li><a href="#">Regular Beds</a></li>
                                        <li><a href="#">Sleigh Beds</a></li>
                                        <li><a href="#">Laundry</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div id="FilterByPrice"></div>

                        <div class="widget_list widget_color">
                            <h3>Select By Color</h3>
                            <ul>
                                <li>
                                    <a href="#">Black  <span>(6)</span></a>
                                </li>
                                <li>
                                    <a href="#"> Blue <span>(8)</span></a>
                                </li>
                                <li>
                                    <a href="#">Brown <span>(10)</span></a>
                                </li>
                                <li>
                                    <a href="#"> Green <span>(6)</span></a>
                                </li>

                            </ul>
                        </div>
                        <div class="widget_list widget_color">
                            <h3>Select By SIze</h3>
                            <ul>
                                <li>
                                    <a href="#">S  <span>(6)</span></a>
                                </li>
                                <li>
                                    <a href="#"> M <span>(8)</span></a>
                                </li>
                                <li>
                                    <a href="#">L <span>(10)</span></a>
                                </li>
                                <li>
                                    <a href="#"> XL <span>(6)</span></a>
                                </li>

                            </ul>
                        </div>
                        <div class="widget_list widget_manu">
                            <h3>Manufacturer</h3>
                            <ul>
                                <li>
                                    <a href="#">Brake Parts <span>(6)</span></a>
                                </li>
                                <li>
                                    <a href="#">Accessories <span>(10)</span></a>
                                </li>
                                <li>
                                    <a href="#">Engine Parts <span>(4)</span></a>
                                </li>
                                <li>
                                    <a href="#">hermes <span>(10)</span></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->
@section styles{
}

@section scripts{
<script src="~/lib/noUiSlider/dist/nouislider.min.js"></script>
}