@page "/{culture}/User/Products/Compo/Variants"
@model PrancaBeauty.WebApp.Pages.User.Products.Components.Compo_Variants.Compo_VariantsModel
@{
    string FieldName = Model.Input.FieldName;
    string FieldId = FieldName.Replace(".", "_").Replace("[", "_").Replace("]", "_");
    string FieldTitle = Localizer[FieldName.Split('.').Last()];
}

<div class="row">
    <script>
        function LoadAutoNumeric(_Id) {
            $('#Percent' + _Id).autoNumeric('init', { vMax: '1000.999', vMin: '-100.999', lZero: 'deny', aDec: '.', aSep: ',' });
            $('#CountInStock' + _Id).autoNumeric('init', { vMax: '10000000', vMin: '0', lZero: 'deny', aSep: ',' });
        }
    </script>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-11">
                <LoadComponent class="ProductVariants"
                               context="HttpContext"
                               data='new viCompo_Combo_ProductVariants { FieldName="Input.VariantId",VariantId=Model.Input.VariantId }'
                               url="/@ViewData["culture"]/Shared/Compo/ComboVariants"></LoadComponent>
            </div>
            <div class="col-md-1 text-left">
                <button onclick="AddVariantInput()" type="button" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <hr />
        <div id="CompoAddVariantSection">
            @if (Model.Data.Count() == 0)
            {
                <LoadComponent class="ProductVariantsItemCompo"
                               context="HttpContext"
                               data='new viCompo_Variants_Items { Index = 0 }'
                               url="/@ViewData["culture"]/User/Products/Compo/VariantsItem"></LoadComponent>
            }
            else
            {
                int Counter = 0;
                foreach (var item in Model.Data)
                {
                    <LoadComponent class="ProductVariantsItemCompo"
                                   context="HttpContext"
                                   data='new viCompo_Variants_Items
                                   {
                                       Index = Counter,
                                       Id=item.Id,
                                       GuaranteeId=item.GuaranteeId,
                                       Title=item.Title,
                                       Value=item.Value,
                                       ProductCode=item.ProductCode,
                                       Percent=item.Percent,
                                       CountInStock=item.CountInStock,
                                       SendBy=item.SendBy,
                                       SendFrom=item.SendFrom,
                                       IsEnable=item.IsEnable
                                   }'
                                   url="/@ViewData["culture"]/User/Products/Compo/VariantsItem"></LoadComponent>

                    Counter++;
                }
            }
        </div>
    </div>

    <script src="~/lib/autoNumeric/autoNumeric.min.js"></script>
    <script>
        function AddVariantInput() {
            var _Count = $('.ProductVariantsItemCompo').length;

            LoadComponenet('/@ViewData["culture"]/User/Products/Compo/VariantsItem', {
                Index: _Count
            }, function (res) {
                $('#CompoAddVariantSection').append("<div class='ProductVariantsItemCompo'>" + res + "</div>");
            });
        }

        function CheckAndRemoveVariants(_Index, _Id) {
            if (_Id == '') {
                RemoveVariants(_Index);
            } else {
                RemoveData('/@ViewData["culture"]/User/Products/Compo/Variants?handler=RemoveVariants', { Id: _Id, Index: _Index});
            }
        }

        function RemoveVariants(_Index) {
            $('#Variants' + _Index).hide();
            //$('#Variants' + _Index + ' input').val("");
            setTimeout(function () {
                //$('#Variants' + _Index + ' .isNumeric').val("0");
                $('#Input_Variants' + _Index).val("true");
            }, 100);
        }
    </script>
</div>