@page "/{culture}/User/Products/Compo/CompoInputKeywordInput"
@model PrancaBeauty.WebApp.Pages.User.Products.Components.Compo_Keywords.Compo_Input_Keywords_InputModel

<div id="Keyword@(Model.Input.Index)">
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <input asp-for="Input.Id" type="hidden" name="Input.Keywords[Model.Input.Index].Id" />
                <input class="form-control" asp-for="Input.Title" name="Input.Keywords[Model.Input.Index].Title" type="text" placeholder="@Localizer["KeywordTitle"]" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group mb-3 dir-ltr">
                    <div class="input-group-prepend">
                        <span class="input-group-text">%</span>
                    </div>
                    <input class="form-control fs-14px text-center dir-ltr" id="Similarity@(Model.Input.Index)" asp-for="Input.Similarity" name="Input.Keywords[Model.Input.Index].Similarity" type="text" placeholder="@Localizer["KeywordSimilarity"]" />
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button type="button" onclick="RemoveKeyword('@Model.Input.Index')" class="btn btn-danger"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <script>
        LoadSimilarity('Similarity@(Model.Input.Index)');
    </script>
</div>
