@page "/{culture}/User/Products/Compo/CompoInputKeyword"
@model PrancaBeauty.WebApp.Pages.User.Products.Components.Compo_Keywords.Compo_Input_KeywordsModel
@{
    string FieldName = Model.Input.FieldName;
    string FieldId = FieldName.Replace(".", "_").Replace("[", "_").Replace("]", "_");
    string FieldTitle = Localizer[FieldName.Split('.').Last()];
}

<div class="row">
    <script>
        function LoadSimilarity(_Id) {
            $('#' + _Id).autoNumeric('init', { vMax: '99.99', lZero: 'deny', aDec: '.', aSep: ',' });
        }
    </script>

    <div class="col-md-12">

        <button onclick="AddKeywordInput()" type="button" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></button>

        <hr />
        <div id="CompoAddKeywordSection">
            @{
                int _Index = 0;
                if (Model.Data.Count() > 0)
                {
                    foreach (var item in Model.Data)
                    {
                        <LoadComponent class="ProductKeywordsInputCompo"
                                       context="HttpContext"
                                       data='new viCompo_Input_Keywords_Input { Index = _Index,Id=item.Id,Title=item.Title,Similarity=item.Similarity }'
                                       url="/@ViewData["culture"]/User/Products/Compo/CompoInputKeywordInput"></LoadComponent>
                        _Index = _Index + 1;
                    }
                }
                else
                {
                    <LoadComponent class="ProductKeywordsInputCompo"
                                   context="HttpContext"
                                   data='new viCompo_Input_Keywords_Input { Index = 0 }'
                                   url="/@ViewData["culture"]/User/Products/Compo/CompoInputKeywordInput"></LoadComponent>
                }
            }


        </div>
    </div>

    <script src="~/lib/autoNumeric/autoNumeric.min.js"></script>
    <script>

        function AddKeywordInput() {

            var _Count = $('.ProductKeywordsInputCompo').length;

            LoadComponent('/@ViewData["culture"]/User/Products/Compo/CompoInputKeywordInput', {
                Index: _Count
            }, function (res) {
                $('#CompoAddKeywordSection').append("<div class='ProductKeywordsInputCompo'>" + res + "</div>");
            });
        }

        function RemoveKeyword(_Index) {
            $('#Keyword' + _Index).hide();
            $('#Keyword' + _Index + ' input').val("");
            setTimeout(function () {
                $('#Input_IsDelete' + _Index).val('true');
            }, 100);
        }
    </script>
</div>