@page "/Auth/Login/Components/LoginByUsernamePassword"
@model PrancaBeauty.WebApp.Pages.Auth.Login.Components.Compo_Login_UsernamePasswordModel

<div class="account_form">
    <h2>@Localizer["Login"]</h2>
    <form action="#">
        <p>
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email">
        </p>
        <p>
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password">
        </p>
        <div class="login_submit">
            <a href="#">@Localizer["LostYourPassword?"]</a>
            <label asp-for="Input.RemmeberMe">
                <input asp-for="Input.RemmeberMe">
                @Localizer["RemmeberMe"]
            </label>
            <button type="submit">@Localizer["Login"]</button>
        </div>
    </form>
</div>
<LoadComponent  u-id=""></LoadComponent>