@page "/{Culture}/Auth/RecoverPassword/Components/ResetPasswordByEmail"
@model PrancaBeauty.WebApp.Pages.Auth.RecoveryPassword.Components.RecoveryByEmail.Compo_ResetPasswordModel


<div class="account_form">
    <h2>@Localizer["ResetPassword"]</h2>
    <form id="compo_ResetPassword" method="post" asp-antiforgery="false">
        <input asp-for="Input.Token" type="hidden" />
        <p>
            <label asp-for="Input.NewPassword"></label>
            <input type="text" autocomplete="off" asp-for="Input.NewPassword" class="text-left">
        </p>
        <p>
            <label asp-for="Input.RetypeNewPassword"></label>
            <input type="text" autocomplete="off" asp-for="Input.RetypeNewPassword" class="text-left">
        </p>

        <div class="login_submit">
            <button onclick="SendForm('/@ViewData["culture"]/Auth/RecoverPassword/Components/ResetPasswordByEmail','compo_ResetPassword')" type="button">@Localizer["Reset"]</button>
        </div>
    </form>
</div>

<script>
    function GotoLoginPage() {
        location.href = '/@ViewData["culture"]/Auth/Login';
    }
</script>