@page "/{culture}/Shared/Compo/ComboHowToPay"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_HowToPay.Compo_HowToPayModel

<div class="row">
    @foreach (var item in Model.Data)
    {
        <div class="col-md-12 Gate">
            <input value="@item.Id" @(Model.Input.GateId==item.Id?"checked":"") name="Input.PaymentGateId" type="radio" />
            <span>@item.Title</span>
        </div>
    }
</div>