@page "/{culture}/Shared/Compo/ComboHowToPay"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_HowToPay.Compo_HowToPayModel

<div class="row">
    <div class="col-md-12 Gate">
        <input type="radio" />
        <span>زرین پال</span>
    </div>
    <div class="col-md-12 Gate">
        <input type="radio" />
        <span>پی پال</span>
    </div>
</div>