@page "/{culture}/Shared/Compo/ComboAddProductReview"
@model PrancaBeauty.WebApp.Pages.Shared.Components.Compo_ProductReviews.Compo_AddProductReviewsModel

<div class="modal ModalAddNewReview" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["AddNewReview"]</h5>
            </div>
            <div class="modal-body">
                <div class="comment_title">
                    @*<p>Your email address will not be published.  Required fields are marked </p>*@
                </div>
                <div class="product_ratting mb-10">
                    
                </div>
                <div class="product_review_form">
                    <form action="#">
                        <div class="row">
                            <div class="col-12">
                                <label for="review_comment"></label>
                                <textarea name="comment" id="review_comment"></textarea>
                            </div>
                            <div class="col-lg-6 col-md-6">
                            </div>

                            <div class="col-lg-6 col-md-6">
                            </div>
                        </div>
                        <button type="submit">@Localizer["SaveReview"]</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="" class="btn btn-primary">@Localizer["Search"]</button>
                <button type="button" onclick="" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>

