@page "/{Culture}/User/EditProfile/Compo/ChangePassword"
@model PrancaBeauty.WebApp.Pages.User.EditProfile.Components.ChangePassword.Compo_ChangePasswordModel

<form id="frmChanagePassword">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Input.CurrentPassword"></label>
                <input asp-for="Input.CurrentPassword" class="form-control text-left" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control text-left" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control text-left" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text-left mt-4">
                <button onclick="SendForm('/@ViewData["Culture"]/User/EditProfile/Compo/ChangePassword', 'frmChanagePassword')" type="button" class="btn btn-primary">@Localizer["ChangePassword"]</button>
            </div>
        </div>
    </div>
</form>