@page "/{Culture}/User/EditProfile"
@model PrancaBeauty.WebApp.Pages.User.EditProfile.EditProfileModel
@{
    ViewData["Title"] = Localizer["EditProfile"];
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

@section breadcrumbs{
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/@ViewData["Culture"]">@Localizer["Home"]</a></li>
                            <li><a href="/@ViewData["Culture"]/User/Index">@Localizer["Dashboard"]</a></li>
                            <li>@Localizer["EditProfile"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}